<div class="row">
  <div class="col-md-8 col-md-push-2">
    <div class="page-header">
      <h3> Création d'un groupe de tirage
        <small>renseigner les candidats de votre groupe</small>
      </h3>
    </div>

  </div>
</div>


<div class="row" ng-init="init()">

  <div class="col-md-8 col-md-push-2">
    <!--Body content-->
    <form class="form-horizontal" method="go('/result')">
      <div class="form-group">
        <label class="col-sm-2 control-label text-left" for="idInputGroupe">Nom du Tirage</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="idInputGroupe">
        </div>
      </div>

      <div class="form-group" ng-repeat="candidat in candidats">
        <!-- <div class="form-inline"> -->
        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="candidat.email" placeholder="email du candidat">
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" ng-model="candidat.pwd" placeholder="mot de passe">
        </div>
        <!-- <div class="col-sm-1">
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div> -->
        <div class="col-sm-1">
          <button type="button" class="close" aria-label="Close" ng-click="supprimerLigne(candidat)" ng-show="enableSupprimerLigne()">
            <!-- <span aria-hidden="true">&times;</span> -->
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <!-- <input class="btn btn-danger btn-sm btn-block" type="button" ng-click="suppirmerLigne()" value="Suppr." /> -->
          <!-- </div> -->
        </div>
      </div>

      <div class="form-group">
        <div class="pull-right col-sm-pull-3">
          <button class="btn btn-primary" type="button" ng-click="ajouterLigne()">Ajouter une ligne</button>
          <button class="btn btn-success" type="submit" ng-click="faireTirage();tirer()">Tirer</button>
        </div>
      </div>
    </form>

    <div class="">

      <pre> {{candidats | json}}</pre>
    </div>
  </div>

</div>
